body {
background-color: #2A3341;
display: flex;
flex-wrap: wrap;
height: 100vh;
}

.box {
  border: 1px solid magenta;
  width: 25%;
  height: 25%;
}

.container2 {
  border: 1px solid green;
  height: 100vh;
  width: 33.3%;
}


/*#2A3341
#F8FFE5
#06D6A0
#FFD046
#1B9AAA*/

/*#2A3341
#A6D49F
#9CB380
#FFD046
#C73E1D*/
